<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Not Found</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script src="/js/serverinfo.js"></script>
    <script src="/js/copyhostname.js"></script>
    <script src="/js/apirefresh.js"></script>
</head>
<body>
    <div class="content" id="content">

        <div id="popupMessage" class="popup-message"></div>

        <div class="everything">
            <div class="text" id="text">404 - Server Not Found</div>
            <div class="desc" id="desc">This is a web browser, not a Minecraft client.</div>

            <div class="generalserverinfo">
                <div class="serverinfo" id="serverinfo">
                    <div class="hostname" id="hostname"></div>
                        <a href="#" onclick="copyName()">
                            <img class="copyhostname" id="copyhostname" src="/.data/images/copy.png" alt="copy"title="Copy to Clipboard">
                        </a>
                    <hr>
                    <div class="static-text">
                        <div class="status">Whirlcraft Server Status:</div>
                        <br>
                        <div class="playersonline">Online Players:</div>
                        <br>
                        <div class="apirefreshtimer">Time Until Refresh:</div>
                    </div>

                    <div class="dynamic-text">
                        <div class="dynamic-status" id="status"></div>
                        <br>
                        <div class="dynamic-players" id="players"></div>
                        <br>
                        <div class="countdowntimer" id="countdowntimer"></div>
                    </div>
                </div>

                <div class="players">
                    <div class="playerstitle">Currently Online</div>
                    <hr>
                    <ul class="playerlist" id="playerlist"></ul>
                </div>
            </div>

            <div class="redirect" id="redirect">
                Get Minecraft <a href="https://www.minecraft.net/" target=”_blank”>Here</a> |
                <a href="https://github.com/ATDdev21/whirlcraft-website" target=”_blank”>Source Code</a>
            </div>
            <div class="beta" id="beta">For any questions, message me on Discord: atd.</div>
        </div>
        <div class="imageholder" id="image">
            <img class="image" src="/.data/images/brine.png" alt="Brine Image">
        </div>
    </div>
</body>
</html>
