<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Not Found</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script src="/js/index.js"></script>
</head>
<body>
    <div class="content" id="content">

        <div class="text" id="text">404 - Server Not Found</div>
        <div class="desc" id="desc">This is a web browser, not a Minecraft client.</div>

        <div class="generalserverinfo">
            <div class="serverinfo" id="serverinfo">
                <div class="hostname" id="hostname"></div>
                <hr>
                <div class="static-text">
                    <div class="status">Whirlcraft Server Status:</div>
                    <br>
                    <div class="playersonline">Online Players:</div>
                </div>

                <div class="dynamic-text">
                    <div class="dynamic-status" id="status"></div>
                    <br>
                    <div class="dynamic-players" id="players"></div>
                </div>
            </div>

            <div class="players">
                <div class="playerstitle">Currently Online</div>
                <hr>
                <ul class="playerlist" id="playerlist"></ul>
            </div>
        </div>

        <div class="ambience-sound" id="ambience-sound">
                <img src="/.data/images/brine.png" alt="Brine Image">
        </div>

        <footer class="footer">
            <div class="redirect" id="redirect">
                Get Minecraft <a href="https://www.minecraft.net/">Here</a> |
                <a href="https://github.com/ATDdev21/whirlcraft-website">Source Code</a>
            </div>
            <div class="beta" id="beta">For any questions, message me on Discord: atd.</div>
        </footer>
    </div>
</body>
</html>