<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script src="/js/index.js"></script>
</head>
<body>
    
    <div class="content" id="content">


        <div class="text" id="text">404 - Server Not Found</div>
        <div class="desc" id="desc">This is a web browser, not a minecraft client.</div>
        <div class="redirect" id="redirect">Get Minecraft <a href="https://www.minecraft.net/">Here</a> | <a href="https://github.com/ATDdev21/whirlcraft-website">Website Source Code</a></div>


        <div class="ambience-sound" id="ambience-sound">
            <a href="#" id="play">
                <img src="/.data/images/brine.png">
            </a>
            <audio id="audio" src="/.data/sounds/ambience.wav" loop></audio>
            <script src="/js/play.js"></script>
        </div>

    </div>
</body>
</html>