@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;600;700&display=swap');

html {
    height: 100%;
}

    body {
        margin: 0;
        height: 100%;
        user-select: none;
    }

    #content {
        position: fixed;
        margin: 0;
        height: 100%;
        width: 100%;
        /*border: solid 1px red;*/
    }

    .text {
        color: white;
        font-family: 'Source Code Pro', monospace;
        font-weight: 700;
        font-size: 50px;
        top: 100px;
        left: 50%;
        transform: translate(-50%);
        user-select: none;
        position: fixed;
    }
    .desc {
        color: white;
        font-family: 'Source Code Pro', monospace;
        font-weight: 400;
        font-size: 20px;
        top: 190px;
        left: 50%;
        transform: translate(-50%);
        user-select: none;
        position: fixed;
    }
    .redirect {
        color: white;
        font-family: 'Source Code Pro', monospace;
        font-weight: 300;
        font-size: 15px;
        bottom: 50px;
        left: 50%;
        transform: translate(-50%);
        user-select: none;
        position: fixed;
    }
    a:-webkit-any-link {
        text-decoration: underline;
        color: white;
    }
    